{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <!--Grid column-->
            <div class="col-md-2 col-lg-2 mx-auto">
                <!-- Section: Block Content -->
                <section>
                    <!-- Card -->
                    <div class="card testimonial-card">

                        <!-- Background color -->
                        <div class="card-up warning-color-dark p-3 white-text">
                            <p class="mb-0 font-weight-normal">Mon Profil</p>
                        </div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white">
                            {% if app.user.imageName %}
                                <img class="rounded-circle z-depth-0" src="{{ asset('image/participants/'~app.user.imageName) }}" alt="{{ app.user.imageName }}"/>
                            {% else %}
                                <img src="{{ asset('image/participants/empty_picture.png') }}" class="rounded-circle z-depth-0"
                                     alt="avatar image">
                            {% endif %}
                        </div>
                    </div>
                    <!-- Card -->

                </section>
                <!-- Section: Block Content -->
            </div>
            <!--Grid column-->
            <div class="col-md-8 col-lg-8 mx-auto">

                {{ form_start(formParticipant, {'class': 'md-form'}) }}

                {{ form_errors(formParticipant) }}

                <div class="form-row">
                    <div class="col">
                        <!-- Pseudo -->
                        <div class="md-form">
                            {{ form_widget(formParticipant.pseudo) }}

                            {{ form_label(formParticipant.pseudo) }}

                            <small>{{ form_help(formParticipant.pseudo) }}</small>

                            <div class="form-error">
                                {{ form_errors(formParticipant.pseudo) }}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Mail -->
                        <div class="md-form">
                            {{ form_widget(formParticipant.mail) }}

                            {{ form_label(formParticipant.mail) }}

                            <small>{{ form_help(formParticipant.mail) }}</small>

                            <div class="form-error">
                                {{ form_errors(formParticipant.mail) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <!-- Nom -->
                        <div class="md-form">
                            {{ form_widget(formParticipant.nom) }}

                            {{ form_label(formParticipant.nom) }}

                            <small>{{ form_help(formParticipant.nom) }}</small>

                            <div class="form-error">
                                {{ form_errors(formParticipant.nom) }}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Prénom -->
                        <div class="md-form">
                            {{ form_widget(formParticipant.prenom) }}

                            {{ form_label(formParticipant.prenom) }}

                            <small>{{ form_help(formParticipant.prenom) }}</small>

                            <div class="form-error">
                                {{ form_errors(formParticipant.prenom) }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mot de Passe -->
                <div class="form-row">
                    <div class="col">
                        <!-- Pseudo -->
                        <div class="md-form">
                            {{ form_widget(formParticipant.motPasse.first) }}

                            {{ form_label(formParticipant.motPasse.first) }}

                            <small>{{ form_help(formParticipant.motPasse.first) }}</small>

                            <div class="form-error">
                                {{ form_errors(formParticipant.motPasse.first) }}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Mail -->
                        <div class="md-form">
                            {{ form_widget(formParticipant.motPasse.second) }}

                            {{ form_label(formParticipant.motPasse.second) }}

                            <small>{{ form_help(formParticipant.motPasse.second) }}</small>

                            <div class="form-error">
                                {{ form_errors(formParticipant.motPasse.second) }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Téléphone -->
                <div class="md-form">
                    {{ form_widget(formParticipant.telephone) }}

                    {{ form_label(formParticipant.telephone) }}

                    <small>{{ form_help(formParticipant.telephone) }}</small>

                    <div class="form-error">
                        {{ form_errors(formParticipant.telephone) }}
                    </div>
                </div>

                <!-- Campus -->
                <div class="md-form">
                    {{ form_widget(formParticipant.campus) }}

                    {{ form_label(formParticipant.campus) }}

                    <small>{{ form_help(formParticipant.campus) }}</small>

                    <div class="form-error">
                        {{ form_errors(formParticipant.campus) }}
                    </div>
                </div>

                <!-- Photo -->
                <div class="md-form">
                    <div class="file-field">
                        <div class="btn btn-primary btn-sm float-left">
                            <span>Photo de Profil</span>
                            {{ form_widget(formParticipant.imageFile) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Télécharger ma photo">
                        </div>
                    </div>
                </div>

                <div class="form-row mb-4 flex justify-content-center">
                    <div class="col-sm-2 mr-5">
                        <button class="btn btn-primary btn-rounded waves-effect my-4 btn-block" type="submit">Enregistrer</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-outline-default waves-effect btn-rounded my-4 btn-block" type="button" onclick="history.go(-1)">Annuler</button>
                    </div>
                </div>

                {{ form_end(formParticipant) }}

            </div>
            <!--Grid column-->
        </div>
    </div>
{% endblock %}

