{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-lg-8 mx-auto">

                {{ form_start(formCampus, {'class': 'md-form'}) }}

                {{ form_errors(formCampus) }}

                <div class="form-row">
                    <div class="col">
                        <!-- Nom -->
                        <div class="md-form">
                            {{ form_widget(formCampus.nom) }}

                            {{ form_label(formCampus.nom) }}

                            <small>{{ form_help(formCampus.nom) }}</small>

                            <div class="form-error">
                                {{ form_errors(formCampus.nom) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row mb-4 flex justify-content-center">
                    <div class="col-sm-2 mr-5">
                        <button class="btn light-blue darken-3 text-white btn-rounded waves-effect my-4 btn-block"
                                type="submit">
                            Enregistrer
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-outline-default waves-effect btn-rounded my-4 btn-block"
                           href="{{ path("app_admin_villes") }}">Annuler
                        </a>
                    </div>
                </div>
            </div>


            {{ form_end(formCampus) }}

        </div>
    </div>
    </div>
{% endblock %}

