{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid">

        {% if false == isMobile %}
            <form method="get" id="filterForm" action="{{ path('app_homepage') }}">
                <div class="row">
                    <div class="col-md-6">
                        <h4> Filtrer les sorties </h4>
                        <div class="row">
                            <div class="col-md-6 select-outline">

                                <select class="mdb-select md-form" searchable="Rechercher..." id="selectCampus"
                                        name="campus">
                                    <option value="" disabled selected>Sélectionnez le campus</option>

                                    {% for c in campus %}
                                        {% if (campusParam == c.id) %}
                                            <option value="{{ c.id }}" selected>{{ c.nom }}</option>
                                        {% else %}
                                            <option value="{{ c.id }}">{{ c.nom }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="md-form">
                            <i class="fas fa-search prefix"></i>
                            <input type="text" id="nomSortie" class="form-control" name="nomSortie"
                                   value="{{ nomSortie }}">
                            <label for="searchSortie">Rechercher une sortie</label>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form">
                                    <i class="far fa-calendar-alt prefix"></i>
                                    <input type="text" id="dateDebut" placeholder="Sélectionner une date"
                                           class="form-control datepicker" name="dateDebut" value="{{ dateDebut }}">
                                    <label for="dateDebut">Date début</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form">
                                    <i class="far fa-calendar-alt prefix"></i>
                                    <input type="text" id="dateFin" placeholder="Sélectionner une date"
                                           class="form-control datepicker" name="dateFin" value="{{ dateFin }}">
                                    <label for="dateFin">Date fin</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            {% if (isOrganisateur) %}
                                <input type="checkbox" class="form-check-input" id="organisateurCheck"
                                       name="isOrganisateur" checked>
                            {% else %}
                                <input type="checkbox" class="form-check-input" id="organisateurCheck"
                                       name="isOrganisateur">
                            {% endif %}
                            <label class="form-check-label" for="organisateurCheck">Sorties dont je suis
                                l'organisateur</label>
                        </div>
                        <div class="form-check">
                            {% if (isInscrit) %}
                                <input type="checkbox" class="form-check-input" id="inscritCheck" name="isInscrit"
                                       checked>
                            {% else %}
                                <input type="checkbox" class="form-check-input" id="inscritCheck" name="isInscrit">
                            {% endif %}
                            <label class="form-check-label" for="inscritCheck">Sorties auxquelles je suis
                                inscrit/e</label>
                        </div>
                        <div class="form-check">
                            {% if (isNotInscrit) %}
                                <input type="checkbox" class="form-check-input" id="inscritKOCheck" name="isNotInscrit"
                                       checked>
                            {% else %}
                                <input type="checkbox" class="form-check-input" id="inscritKOCheck" name="isNotInscrit">
                            {% endif %}
                            <label class="form-check-label" for="inscritKOCheck">Sorties auxquelles je ne suis pas
                                inscrit/e</label>
                        </div>
                        <div class="form-check">
                            {% if (isSortiesPassees) %}
                                <input type="checkbox" class="form-check-input" id="sortiesPasseesCheck"
                                       name="isSortiesPassees" checked>
                            {% else %}
                                <input type="checkbox" class="form-check-input" id="sortiesPasseesCheck"
                                       name="isSortiesPassees">
                            {% endif %}
                            <label class="form-check-label" for="sortiesPasseesCheck">Sorties passées</label>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-secondary btn-rounded" id="btnRecherche">Rechercher
                        </button>
                        <a role="button" class="btn btn-outline-default waves-effect btn-rounded" id="btnReset"
                           href="{{ path('app_homepage') }}">Effacer</a>

                    </div>

                </div>
            </form>
        {% endif %}

        {% if (nbSorties > 0) %}
            {# total items count #}
            <div class="row flex mb-3">
                {% if false == isMobile %}
                    <div class="justify-content-start col-md-10">
                        <a href="{{ path('sortie_create') }}" class="btn btn-primary btn-rounded"><i
                                    class="fas fa-plus mr-1"></i> Créer une sortie</a>
                    </div>
                {% endif %}
                <div class="count col-md-2 text-right">
                    <h5 class="text-primary"> Total : {{ nbSorties }} </h5>
                </div>
            </div>
            <table class="table" id="participantsTable">
                <thead>
                <tr>
                    <th scope="col" class="font-weight-bold">NOM DE LA SORTIE</th>
                    <th scope="col" class="font-weight-bold">DATE DE LA SORTIE</th>
                    {% if false == isMobile %}
                        <th scope="col" class="font-weight-bold">CLOTURE</th>
                    {% endif %}
                    <th scope="col" class="font-weight-bold">LIEU</th>
                    {% if false == isMobile %}
                        <th scope="col" class="font-weight-bold">INSCRITS/PLACES</th>
                        <th scope="col" class="font-weight-bold">ETAT</th>
                        <th scope="col" class="font-weight-bold">INSCRIT</th>
                        <th scope="col" class="font-weight-bold">ORGANISATEUR</th>
                        <th scope="col" class="font-weight-bold">ACTIONS</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr class="{{ sortie.dateHeureDebut|date('Y-m-d') < "now"|date('Y-m-d') ? 'sortie_passee' : '' }}
                                {{ sortie.organisateur == app.user ? 'organisateur' : '' }}
                                {{ sortie.etat.id == 6 ? 'annulee' : '' }}">
                        <th scope="row">
                            {% if false == isMobile %}
                                {{ sortie.nom }}
                            {% else %}
                                <a href="#">{{ sortie.nom }}</a>
                            {% endif %}</th>
                        <th>
                            {{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date("d/m/Y")  : '' }}

                            {% if (sortie.dateHeureDebut|date('Y-m-d') == "now"|date('Y-m-d')) %}
                                <a href="#" class="indigo-text mx-2 text-secondary material-tooltip-main"
                                   data-toggle="tooltip" data-placement="top"
                                   title="Attention dernière chance de vous inscrire aujourd'hui"><i
                                            class="fas fa-exclamation-triangle red-text"></i></a>
                            {% endif %}
                        </th>
                        {% if false == isMobile %}
                            <th> {{ sortie.dateLimiteInscription is empty ? "" : sortie.dateLimiteInscription|date("d/m/Y") }} </th>
                        {% endif %}
                        <th> {{ sortie.lieu ? sortie.lieu.ville ? sortie.lieu.ville.nom : '' }} </th>
                        {% if false == isMobile %}
                            <th> {{ sortie.inscriptions|length }} / {{ sortie.nbInscriptionsMax }} </th>
                            <th>
                                {{ sortie.etat.libelle }}
                                {% if sortie.etat.id == 6 %}
                                    <a href="#" class="mx-2 material-tooltip-main" data-toggle="tooltip" data-html="true"
                                            title="<b>Motif : </b></br> {{ sortie.motifAnnulation }}">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                {% endif %}
                            </th>
                            <th>
                                {% if sortie.inscriptions|filter(insc => insc.participant.id == app.user.id)|length != 0 %}
                                    <i class="fas fa-check green-text fa-lg"></i>
                                {% endif %}
                            </th>
                            <th>
                                <strong>
                                    <a href="{{ path('participant_show', {id: sortie.organisateur.id }) }}"
                                       class="indigo-text mx-2 text-secondary material-tooltip-main"
                                       data-toggle="tooltip"
                                       data-placement="top" title="Afficher le profil">
                                        {% if sortie.organisateur and sortie.organisateur.imageName %}
                                            <img src="{{ asset('image/participants/'~sortie.organisateur.imageName) }}"
                                                 alt="{{ sortie.organisateur.imageName }}" class="rounded z-depth-0"
                                                 style="width: 32px; height: 32px;"/>
                                        {% else %}
                                            <img src="{{ asset('image/participants/empty_picture.png') }}"
                                                 class="rounded-circle z-depth-0" style="width: 32px; height: 32px;"
                                                 alt="avatar image"/>
                                        {% endif %}
                                        <strong class="ml-1">{{ sortie.organisateur.pseudo }}</strong>
                                    </a>
                                </strong>
                            </th>
                            <th>
                                <!-- AFFICHER LA SORTIE -->
                                <a href="{{ path('show_sortie', {id: sortie.id}) }}" class="btn-floating btn-primary mr-2 btn-sm material-tooltip-main"
                                   data-toggle="tooltip" data-placement="top" title="Afficher la sortie">
                                    <i class="far fa-eye"></i>
                                </a>
                                <!-- MODIFIER LA SORTIE / PUBLIER LA SORTIE -->
                                {% if sortie.organisateur == app.user and sortie.etat.id == 1 %}
                                    <a href="{{ path('update_sortie', {id: sortie.id}) }}"
                                       class="btn-floating btn-default mr-2 btn-sm material-tooltip-main"
                                       data-toggle="tooltip" data-placement="top" title="Modifier la sortie">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    <a href="#" class="btn-floating btn-success mr-2 btn-sm material-tooltip-main"
                                       data-toggle="tooltip" data-placement="top" title="Publier la sortie">
                                        <i class="fas fa-arrow-up"></i>
                                    </a>
                                {% endif %}

                                {% if sortie.inscriptions|filter(insc => insc.participant.id == app.user.id)|length == 0 %}

                                    <!-- S'INSCRIRE A LA SORTIE -->
                                    {% if sortie.etat.id == 2 and (date(sortie.dateLimiteInscription) > date() or sortie.dateLimiteInscription|date('d-m-Y') == "now"|date('d-m-Y')) %}
                                        <a href="{{ path('inscrit_sortie', {id: sortie.id}) }}"
                                           class="btn-floating btn-light-green mr-2 btn-sm material-tooltip-main"
                                           data-toggle="tooltip" data-placement="top" title="S'inscrire">
                                            <i class="far fa-bookmark"></i>
                                        </a>
                                    {% endif %}

                                {% else %}

                                    <!-- SE DESINSCRIRE A LA SORTIE -->
                                    {% if (sortie.etat.id == 2 or sortie.etat.id == 3) and date(sortie.dateHeureDebut) > date() %}
                                        <a href="{{ path('desiste_sortie', {id: sortie.id}) }}"
                                           class="btn-floating btn-warning mr-2 btn-sm material-tooltip-main"
                                           data-toggle="tooltip" data-placement="top" title="Se désister">
                                            <i class="far fa-times-circle"></i>
                                        </a>
                                    {% endif %}

                                {% endif %}

                                <!-- ANNULER LA SORTIE -->
                                {% if (sortie.organisateur == app.user or is_granted("ROLE_ADMIN")) and (sortie.etat.id == 2 or sortie.etat.id == 3) %}
                                    <a href="{{ path('sortie_annuler', {id: sortie.id}) }}"
                                       class="btn-floating btn-danger mr-2 btn-sm material-tooltip-main"
                                       data-toggle="tooltip" data-placement="top" title="Annuler la sortie">
                                        <i class="fas fa-ban"></i>
                                    </a>
                                {% endif %}
                            </th>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if false == isMobile %}
                <div class="navigation">
                    {{ knp_pagination_render(sorties) }}
                </div>
            {% endif %}

        {% else %}

            <!--Section: Content-->
            <section class="text-center px-md-5 mx-md-5 dark-grey-text mt-5">

                <h3 class="font-weight-bold">Oups, il n'y a aucune sortie qui correspond à votre recherche ! </h3>

            </section>
            <!--Section: Content-->

        {% endif %}

    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% if false == isMobile %}
        <script>
            $(document).ready(function () {

                $('.datepicker').pickadate({

                    monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre',
                        'Novembre', 'Décembre'],
                    monthsShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aoû', 'Sep', 'Oct', 'Nov', 'Dec'],
                    weekdaysFull: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                    showMonthsShort: true,
                    showWeekdaysFull: undefined,

                    // Buttons
                    today: 'Aujourd\'hui',
                    clear: 'Effacer',
                    close: 'Fermer',

                    format: 'dd/mm/yyyy',
                    formatSubmit: 'yyyy/mm/dd',

                    // Accessibility labels
                    labelMonthNext: 'Mois suivant',
                    labelMonthPrev: 'Mois précédent',
                    labelMonthSelect: 'Sélectionner un mois',
                    labelYearSelect: 'Sélectionner une année',

                    // First day of the week
                    firstDay: 1
                });

                // Get the elements
                var from_input = $('#dateDebut').pickadate(),
                    from_picker = from_input.pickadate('picker')
                var to_input = $('#dateFin').pickadate(),
                    to_picker = to_input.pickadate('picker')

                // Check if there’s a “from” or “to” date to start with and if so, set their appropriate properties.
                if (from_picker.get('value')) {
                    to_picker.set('min', from_picker.get('select'))
                }

                // Apply event listeners in case of setting new “from” / “to” limits to have them update on the other end. If ‘clear’ button is pressed, reset the value.
                from_picker.on('set', function (event) {
                    if (event.select) {
                        to_picker.set('min', from_picker.get('select'))
                    } else if ('clear' in event) {
                        to_picker.set('min', false)
                    }
                })
                to_picker.on('set', function (event) {
                    if (event.select) {
                        from_picker.set('max', to_picker.get('select'))
                    } else if ('clear' in event) {
                        from_picker.set('max', false)
                    }
                })


            });
        </script>
    {% endif %}
{% endblock %}
