{% extends 'layout.html.twig' %}


{% block body %}
    <a href="{{ path('app_admin_add_utilisateurs') }}" class="btn btn-primary btn-rounded" role="button"><i class="fas fa-plus mr-1"></i> Ajouter un utilisateur</a>
    <a href="{{ path('app_admin_add_utilisateurs') }}" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#importUsers" role="button"><i class="far fa-file-excel mr-1"></i></i> Importer des utilisateurs</a>

    <div class="modal fade" id="importUsers" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header grey lighten-4">
                    <h4 class="modal-title">Importer des utilisateurs</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <form method="post" action="{{ path('app_admin_import_users') }}" enctype="multipart/form-data">
                        <div class="input-file-container">
                            <input class="input-file" type="file" name="csvFile" id="csvFile" accept=".csv"/>
                            <label for="my-file" class="input-file-trigger" tabindex="0">
                                Choisir une liste d'utilisateurs (.csv)
                            </label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn grey lighten-2 btn-md mt-4" type="submit">Importer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {# total items count #}
    <div class="count mt-3  mb-3 flex row justify-content-end mr-5">
        <h5 class="text-primary"> Total : {{ participants.getTotalItemCount }} </h5>
    </div>
    <table class="table" id="participantsTable">
        <thead>
        <tr>
            <th scope="col" class="font-weight-bold">PSEUDO</th>
            <th scope="col" class="font-weight-bold">MAIL</th>
            <th scope="col" class="font-weight-bold">NOM</th>
            <th scope="col" class="font-weight-bold">PRÉNOM</th>
            <th scope="col" class="font-weight-bold">TÉLÉPHONE</th>
            <th scope="col" class="font-weight-bold">CAMPUS</th>
            <th scope="col" class="font-weight-bold">ACTION</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr class="{{ participant.actif ? 'unban' : 'ban'}}">
                <th scope="row">{{ participant.pseudo }}</th>
                <th>{{ participant.mail }}</th>
                <th>{{ participant.nom }}</th>
                <th>{{ participant.prenom }}</th>
                <th>{{ participant.telephone }}</th>
                <th>{{ participant.campus.nom }}</th>
                <th>
                    {% if participant.actif %}
                        <a href="{{ path('app_admin_utilisateur_desactiver', {id: participant.id}) }}" class="btn-floating btn-secondary mr-2 btn-sm material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Désactiver cet utilisateur">
                            <i class="fas fa-ban"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('app_admin_utilisateur_reactiver', {id: participant.id}) }}" class="btn-floating btn-success mr-2 btn-sm material-tooltip-main" data-toggle="tooltip" data-placement="top" title="Réactiver cet utilisateur">
                            <i class="fas fa-check"></i>
                        </a>
                    {% endif %}
                    <a class="btn-floating btn-danger btn-sm material-tooltip-main openModalDeleteUser" data-id="{{participant.id}}" data-toggle="tooltip" data-placement="top" title="Supprimer cet utilisateur">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(participants) }}
    </div>

    <!--Modal: modalConfirmDelete-->
    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Etes-vous sûr de supprimer cet utilisateur ? </p>
                </div>

                <!--Body-->
                <div class="modal-body">

                    <i class="fas fa-times fa-4x animated rotateIn"></i>

                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a id="deleteUser" class="btn  btn-outline-danger">Oui</a>
                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">Non</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalConfirmDelete-->

        <style>
            /* styles de base si JS est activé */
            .input-file-container {
                position: relative;
            }

            .input-file-trigger {
                display: block;
                padding: 14px 45px;
                background: #4285F4;
                color: #fff;
                font-size: 1em;
                transition: all .4s;
                cursor: pointer;
            }

            .input-file {
                position: absolute;
                top: 0;
                left: 0;
                width: 225px;
                padding: 14px 0;
                opacity: 0;
                cursor: pointer;
            }
        </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {

            $('.openModalDeleteUser').on("click", function() {
                let participantId = ($(this).attr('data-id'));

                var url = '{{ path('app_admin_utilisateur_delete',  {'id': 'participantId'})|escape('js') }}';
                url = url.replace("participantId", participantId);

                $('#deleteUser').attr('href', url);

                $('#modalConfirmDelete').modal('show');
            });
        });
    </script>
{% endblock %}
