{% extends 'layout.html.twig' %}



{% block body %}




    <div class="card-body">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.nom) }}
        {{ form_row(form.dateHeureDebut) }}
        {{ form_row(form.dateLimiteInscription) }}
        {{ form_row(form.duree) }}
        {{ form_row(form.nbInscriptionsMax) }}
        {{ form_row(form.infosSortie) }}
        <div class="form-control mb-4">
            {{ form_widget(form.isprivate) }}
            {{ form_label(form.isprivate) }}
        </div>

        {{ form_row(form.siteOrganisateur) }}
        {{ form_row(form.ville) }}
        <div class=" mb-4 d-flex flex-row align-items-baseline justify-content-between">
            {{ form_row(form.lieu) }} <a href="{{ path('lieu_create') }}" class="btn btn-primary btn-rounded"><i
                        class="fas fa-plus mr-1"></i> Ajouter un lieu</a>
        </div>
        <div class=" mb-4">
            {{ form_widget(form.Enregistrer) }}
            {{ form_widget(form.Publier) }}
        </div>

        {{ form_end(form) }}
    </div>


    <script>
        var $ville = $('#sortie_ville');
        var dateHeureDebut = $('#sortie_dateHeureDebut');
        var dateLimiteInscription = $('#sortie_dateLimiteInscription');
        // When ville gets selected ...
        $ville.change(function () {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected ville value.
            var data = {};
            data[$ville.attr('name')] = $ville.val();
            data[dateHeureDebut.attr('name')] = dateHeureDebut.val();
            data[dateLimiteInscription.attr('name')] = dateLimiteInscription.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    // Replace current position field ...
                    console.log('succes');
                    $('#sortie_lieu').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#sortie_lieu')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
        console.log(data);
    </script>

{% endblock %}
{% block javascripts %}{% endblock %}
